body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.Hbanner {
    background-image: url("./image/beach2.jpg");
    background-size : cover;
    width: 100%;
    height: 100vh;
}

.banner-contenth6 {
    position: absolute;
    top: 25%;
    left: 40%;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.banner-contenth2 {
    position: absolute;
    top: 28%;
    left: 32%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.banner-contentp {
    position: absolute;
    top: 42%;
    left: 29%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px 20px;
    text-align: center;
}

.banner-btn {
    position: absolute;
    top: 55%;
    left: 44%;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: #f3c300;
    padding: 5px 30px;
}

.title {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-left: 60px;
    margin-top: 30px;
    text-align: left;
}

.form1{
    margin-top: 30px;
    margin-left: 30px;
    
}

.form2 {
    margin-top: 30px;
    margin-left: 30px; 
}

.form3 {
    margin-top: 30px;
    margin-left: 30px;
}

.no1{
    height: 38px;
    margin-bottom: 20px;
    display: block;
    width: 230px;
    border: 1px solid #2b3146;
    background: transparent;
}
.no2 {
    width: 230px;
    height: 38px;
    display: block; 
    border: 1px solid #2b3146;
    background: transparent; 
}
.no3 {
    height: 38px;
    margin-bottom: 20px;
    display: block;
    width: 230px;
    border: 1px solid #2b3146;
    background: transparent;
}

.no4 {
    width: 230px;
    height: 38px;
    display: block;
    border: 1px solid #2b3146;
    background: transparent;
}

.no5 {
    width: 230px;
    height: 38px;
    display: block;
    margin-bottom: 20px; 
    border: 1px solid #2b3146;
    background: transparent;
}
.no6 {
    display: block;
    width: 230px;
    height: 38px;
    background-color: #f3c300;
}



.booking-area {
    display: flex;
    position: absolute;
    top: 76.5%;
    left: 8%;
    width: 84%;
    background-color: #16181c;
    height: 150px;
}

.banner-btn:hover {
    border-radius: 0px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow: hidden;
    border: 0px;
    display: inline-block;
    text-align: center
}

.rooms {
    display: flex;
}
.header {
    margin-bottom: 75px;
    text-align: center;
    margin-top: 100px;
}

.room-title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
    margin-left: 40px;

        

}
.room-titlep {
    margin-top: 10px;
    margin-right: 100px;
    font-size: 14px;
    line-height: 30px;
    color: #777777;
    margin-bottom: 0px;
    display: block;
    margin-left: 100px;
    
}
.room1 {
  margin-left: 65px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.room2{
    margin-left: 30px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.room3 {
    margin-left: 30px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.room4 {
    margin-left: 30px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.room-image:hover {
    transform: scale(1.2);
}
.room-image {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.room-image2:hover {
    transform: scale(1.2);
}
.room-image2 {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.room-image3:hover {
    transform: scale(1.2);
}
.room-image3 {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.room-image4:hover {
    transform: scale(1.2);
}
.room-image4 {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.room-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding: 5px 25px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: #f3c300;
    padding: 5px 30px;
    text-decoration: none;
    width: 150px;
    touch-action: manipulation;
}
.room-btn:hover {
    border-radius: 0px;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 0px;
    text-decoration: none;
    color: #fff;
}
.facilities {
    background-image: url("./image/accomodation.jpg");
    background-size : cover;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    opacity: 1.5;
}
.fac-title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.header2 {
    text-align: center;
    position: absolute;
    margin-top: 60px;
    margin-left: 480px;
}
.fac-titlep {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 0px;
}
.fac1 {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
    width: 350px;
    height: 170px;
    margin-left: 100px;
}
.fac2 {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
    width: 350px;
    height: 170px; 
    margin-left: 50px;
}
.fac3 {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
    width: 350px;
    height: 170px;
    margin-left: 50px;
}

.hotel-fac {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: absolute; 
    margin-top: 200px;  
}
.hotel-fac-2 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 400px;
    margin-right: -15px;
    margin-left: -15px;
}
.facc1 {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
    width: 350px;
    height: 170px;
    margin-left: 100px;
}

.facc2 {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
    width: 350px;
    height: 170px;
    margin-left: 50px;
}
.facc3 {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
    width: 350px;
    height: 170px;
    margin-left: 50px;
}
.fac-h4 {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center

}
.about-head {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-head1 {
    align-items: center;
    margin-left: 100px;
    flex: 1;
}
.about-head-h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #222222;
    font-family: "Poppins", sans-serif;
    display: block;
}
.about-head-p {
    display: block;
    padding: 18px 0px 30px;
    color: #777777;
    font-family: "Poppins", sans-serif;
}
.btn-about {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    background: #222222;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 29px;
    text-align: center;
}
.btn-about:hover {
    text-decoration: none;
    border-radius: 0px;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow: hidden;
    border: 0px;
    background: #f3c300;
    color: #fff;
}

.about-head2 {
    flex: 1;
}
.card {
    display: flex;
}
.card-container {
    display: flex;
}
.card1 {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 40px;
    height: 220px;
    width: 400px;
    margin-left: 200px;
    margin-top: 100px;
}
.card2 {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 40px;
    height: 220px;
    width: 400px;
    margin-left: 50px;
    margin-top: 100px;
}


.card-media {
    margin-left: 20px;
}
.card-h4 {
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
}
.testimonial-area {
    background: #f9f9ff;
    height: 500px;
    width: 100%;
    margin-top: 100px;
}
.area-header {
    text-align: center;
}
.area-header-h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #222222;
    font-family: "Poppins", sans-serif;
}
.area-header p {
    font-size: 14px;
    line-height: 30px;
    color: #777777;
    margin-bottom: 0px;
}