.banner {
    background-image: url("./image/beach2.jpg");
    background-size : cover;
    width: 100%;
    height: 100vh;
}

.banner-contenth6 {
    position: absolute;
    top: 16%;
    left: 42%;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.banner-contenth2 {
    position: absolute;
    top: 20%;
    left: 34%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.banner-contentp {
    position: absolute;
    top: 30%;
    left: 31%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px 20px;
    text-align: center;
}

.banner-btn {
    position: absolute;
    top: 40%;
    left: 35%;
}